.gamePage {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
    background-color: black;
}

.explosionLeft, 
.explosionRight {
    position: absolute;
    width: 250px;
    height: auto;
    pointer-events: none;
    z-index: 1;
}

.explosionTop,
.explosionBottom {
    position: absolute;
    height: auto;
    pointer-events: none;
    z-index: 1;
}

.explosionLeft {
    left: -10px;
    bottom: 10%;
}

.explosionRight {
    right: -10px;
    top: 10%;
    transform: scaleX(-1);
}

.explosionTop {
    left: -0.3px;
    top: 5%;
}

.explosionBottom {
    right: -1px;
    bottom: 10%;
}

.gameContainer {
    position: relative;
    z-index: 2;
    padding: 2rem 3rem;
    border-radius: 20px;
    text-align: center;
    min-width: 520px;
    min-height: 520px;
    background: rgba(209, 96, 3, 0.871);
    box-shadow:  0 0 25px 10px rgba(255, 180, 0, 0.6),
                 0 0 60px 20px rgba(255, 85, 0, 0.3),
                 inset 0 0 15px rgba(255, 255, 255, 0.2);
    animation: pulseGlow 3s ease-in-out infinite;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 25px 10px rgba(255, 180, 0, 0.6),
                    0 0 60px 20px rgba(255, 85, 0, 0.3),
                    inset 0 0 15px rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0 0 40px 20px rgba(255, 200, 50, 0.8),
                    0 0 80px 30px rgba(255, 85, 0, 0.5),
                    inset 0 0 20px rgba(255, 255, 255, 0.4);
    }
    100% {
        box-shadow: 0 0 25px 10px rgba(255, 180, 0, 0.6),
                    0 0 60px 20px rgba(255, 85, 0, 0.3),
                    inset 0 0 15px rgba(255, 255, 255, 0.2);
    }
}

.title {
    font-size: 5rem;
    letter-spacing: 1rem;
    margin-bottom: 3rem;
    color: #ffcf40;
    text-shadow: 8px 2px 8px #000000;
}

.status {
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.playersTitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    color: #ffeaa7;
    margin-bottom: 2.3rem;
}

.playersList {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 2rem;
}

.playerItem {
    font-size: 2.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #f1f2f6;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.actionBtn,
.startBtn {
    background: #d8130c;
    border: none;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s;
    box-shadow: 0 4px 0 #000;
    border: 3px solid #000;
    transition: transform 0.1s;
}

.actionBtn:hover {
    background: #ff5555;
    transform: translateY(-2px);
}

.startBtn {
    background: green;
}

.startBtn:hover {
    background: rgb(68, 169, 43);
    transform: translateY(-2px);
}